.vs/ChessSugar/v14/.suo
ChessSugar.VC.opendb
ChessSugar.sdf
ChessSugar.sln
ChessSugar/ChessSugar.vcxproj
ChessSugar/ChessSugar.vcxproj.filters
*.log
*.tlog
*.lastbuildstate
*.obj
*.idb
*.pdb
*.exe
*.ilk
